*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    
}


.weather-box{
    background-color: #D7DDE8;
    padding: 20px;
    height: 100vh;
    overflow: hidden;
}

.search-button{
    display: flex;
    height: 35px;
    justify-content: center;
    
}

.search-button input{
    width: 50%;
    border: none;
    border-radius: 2rem;
    padding: 10px;
    background-color: aliceblue;
}

.search-button .icons{
    width: 35px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    background-color: aliceblue;
    border-radius: 50%;
    overflow: hidden;
    border: none;
}



.icons i{
    object-fit: contain;
    opacity: 0.5;
}

.search-button :hover{
    opacity: 1;
    /* background-color: aqua; */
}

.image-box{
    /* background-color: aqua; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.image img{
    height: 250px;
    width: 250px;
}

.weather-value {
    /* background-color: aqua; */
    margin: 20px;
    height: fit-content;
    width: 200px;
    height: 75px;
}

.weather-value h1{
    margin-left: 38%;
    font-weight: bold;
    
}

.weather-value .temperature-value sup{
    font-size: 20px;
    position: absolute;
}

.weather-value p{
    font-size: 20px ;
    font-weight: 700;
    text-align: center;
    /* background-color: beige; */
    height: 40px;
    text-transform: capitalize;
}

.humidity-box{
    display: flex;
    justify-content: space-evenly;
    /* background-color: aqua; */
}

.humidity-number {
    /* background-color: antiquewhite; */
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hum-icon{
    display: flex;
}

.hum-icon i{
    font-size: 30px;
}

.location-not{
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* background-color: aliceblue; */
}

.location-not h1{
    font-size: 20px;
    margin-block-end: 15px;
}

.location-not img{
    width: 80%;
    height: 80%;
}

.weather-body{
    display: flex;
    flex-direction: column;
}

